<!DOCTYPE html>
<html>
<head>
  <title>Kittens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash.any? %>
  <div class="flash-container">
    <% flash.each do |key, value|  %>
      <div class="flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
<% end %>
<div>
  <% if current_user %>
    Welcome <%= current_user.username %> <%= button_to 'Log out', session_path, method: :delete %>
  <% else %>
    <%= render partial: 'login' %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
